doctype html
html
  head
    meta(charset= 'UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='theme-color' content='#f76304')
    block title
      title Humming
    block style
      link(rel='stylesheet' href='/css/basic.css')
  body
    div(class='top-bar')
      div(class='navi')
        a(href='/') 首页 
        span= ' / '
        a(href='/create')= '创建新动态'
      div(class='user-panel')
        if (user)
          span= '欢迎，' + user            
          span= ' / '
          a(href='/account')= '个人中心'
          span= ' / '
          a(href='/signout')= '登出'
        else
          a(href='/signup')= '注册'
          span= ' / '
          a(href='/signin')= '登录'
    header      
      div(class='container')
        div(class='logo')
          a(href='/', title='回到首页')
            - const logo='Humming'
              - for (var i = 0; i < 7; i++)
                - let hex = ''
                - for(var j = 0; j < 6; j++)
                  - hex += Math.ceil(Math.random() * 100 % 16).toString(16)
                span(style='color: #' + hex)= logo[i]

    block main
      - if(message)
        div(class='container')
          p=message
    footer
      hr
      div(class='container')
        p © wujian.rocks
